In [1]:
import pandas as pd
import datetime
import polars as pl

In [2]:
def read_data(path, sep=None):
    if sep is not None:
        df = pd.read_csv(path, sep=sep)
    else:
        df = pd.read_csv(path)
    return df

In [3]:
train_df = read_data('/home/jupyter/datasphere/project/train/train.csv')
test_df_source = read_data('/home/jupyter/datasphere/project/test/test.csv')

In [4]:
test_df = test_df_source.copy()

In [5]:
train_df['quarter'] = train_df['quarter'].apply(lambda x: int(x[-1]))
test_df['quarter'] = test_df['quarter'].apply(lambda x: int(x[-1]))

In [15]:
from tqdm import tqdm

def get_previous_year_q(year, quarter):
    previous_year = year
    previous_quarter = quarter - 1
    if previous_quarter == 0:
        previous_year -= 1
        previous_quarter = 4
        
    return previous_year, previous_quarter

def get_dataset(df, start_year=1990, end_year=2023, test=False):
    df = pl.from_pandas(df)
    result = []
    num_features = ['balance', 
                    'oprtn_sum_per_qrtr',
                    'oprtn_sum_per_year',
                    'frst_pmnt',
                    'pmnts_sum',
                    'pmnts_nmbr_per_qrtr',
                    'incm_sum',
                    'incm_per_qrtr']
    
    for target_year in tqdm(range(start_year, end_year)):
        for target_quarter in range(1, 5):
            # if test and target_quarter > 1:
            #     continue
            target_df = df.filter((pl.col("year") == target_year) & (pl.col("quarter") == target_quarter))
            if target_df.shape[0] == 0:
                continue
            previous_year, previous_quarter = get_previous_year_q(target_year, target_quarter)
            
            previous_df = df.filter((pl.col("year") == previous_year) & (pl.col("quarter") == previous_quarter))

            target = target_df.select(["npo_account_id", "year", "quarter", "churn"])
            
            previous_df = previous_df.drop(['churn', 'year', 'quarter'])
            joined_df = target.join(previous_df, on="npo_account_id", how="left")
            
            result.append(joined_df)
            
    return result

def process_data(df):
    to_drop = ['region', 'client_id', 'npo_account_id', 'slctn_nmbr']
    drop_on_date = ['lst_pmnt_date_per_qrtr', 'frst_pmnt_date', 'oprtn_sum_per_year']

    df.drop(to_drop, axis=1, inplace=True)

    for column in drop_on_date:
        df[column + '_year'] = pd.to_datetime(df[column]).dt.year
        df[column + '_month'] = pd.to_datetime(df[column]).dt.month
        df[column + '_day'] = pd.to_datetime(df[column]).dt.day

    df.drop(drop_on_date, axis=1, inplace=True)
    
    return df

In [ ]:
train_df = pl.concat(get_dataset(train_df, 2004, 2023)).to_pandas()
train_df = process_data(train_df)
test_df = process_data(test_df)

In [18]:
from catboost import CatBoostClassifier

X_train, y_train = train_df.drop('churn', axis=1), train_df['churn']

model = CatBoostClassifier(iterations=500,
                            learning_rate=0.01,
                            depth=4,
                            verbose=300,
                            random_seed=42,
                            )

In [19]:
model.fit(X_train, y_train)

0:	learn: 0.3551523	total: 306ms	remaining: 3m 57s
100:	learn: 0.3733589	total: 28.8s	remaining: 3m 13s
200:	learn: 0.3780617	total: 57.8s	remaining: 2m 45s
300:	learn: 0.3877631	total: 1m 24s	remaining: 2m 14s
400:	learn: 0.3928413	total: 1m 51s	remaining: 1m 44s
500:	learn: 0.3970476	total: 2m 18s	remaining: 1m 16s
600:	learn: 0.4028531	total: 2m 45s	remaining: 48.5s
700:	learn: 0.4074003	total: 3m 12s	remaining: 20.9s
776:	learn: 0.4114292	total: 3m 32s	remaining: 0us

In [60]:
from tqdm.auto import tqdm

def get_previous_year_q(year, quarter):
    previous_year = year
    previous_quarter = quarter - 1
    if previous_quarter == 0:
        previous_year -= 1
        previous_quarter = 4
        
    return previous_year, previous_quarter

def get_dataset(df, start_year, end_year, test=False):
    result = []
    num_features = ['balance', 
                    'oprtn_sum_per_qrtr',
                    'oprtn_sum_per_year',
                    'frst_pmnt',
                    'pmnts_sum',
                    'pmnts_nmbr_per_qrtr',
                    'incm_sum',
                    'incm_per_qrtr']
    
    for target_year in tqdm(range(start_year, end_year)):
        for target_quarter in range(1, 5):
            # if test and target_quarter > 1:
            #     continue
            target_df = df.filter((pl.col("year") == target_year) & (pl.col("quarter") == target_quarter))
            if target_df.shape[0] == 0:
                continue
            previous_year, previous_quarter = get_previous_year_q(target_year, target_quarter)
            
            previous_df = df.filter((pl.col("year") == previous_year) & (pl.col("quarter") == previous_quarter))

            target = target_df.select(["npo_account_id", "year", "quarter", "churn"])
            
            previous_df = previous_df.drop(['churn', 'year', 'quarter'])
            joined_df = target.join(previous_df, on="npo_account_id", how="left")
            
            result.append(joined_df)
            
    return result

In [61]:
train_dataset = get_dataset(df, start_year=1990, end_year=2023)

100%|██████████| 33/33 [00:04<00:00,  7.41it/s]

In [62]:
test_dataset = df_test.to_pandas() #get_dataset(df, start_year=1990, end_year=2023, test=True)

In [63]:
train_dataset = pl.concat(train_dataset)
#test_dataset = df_test

In [64]:
train_dataset = df.to_pandas()
#test_dataset = df_test.to_pandas()

In [65]:
from catboost import CatBoostClassifier

In [66]:
def process_data(df):
    to_drop = ['region', 'client_id', 'npo_account_id', 'slctn_nmbr']
    drop_on_date = ['lst_pmnt_date_per_qrtr', 'frst_pmnt_date', 'oprtn_sum_per_year']

    df.drop(to_drop, axis=1, inplace=True)

    for column in drop_on_date:
        df[column + '_year'] = pd.to_datetime(df[column]).dt.year
        df[column + '_month'] = pd.to_datetime(df[column]).dt.month
        df[column + '_day'] = pd.to_datetime(df[column]).dt.day

    df.drop(drop_on_date, axis=1, inplace=True)
    
    return df

In [67]:
train_dataset = process_data(train_dataset)
test_dataset = process_data(test_dataset)

In [68]:
test_dataset

        npo_accnts_nmbr  ...  oprtn_sum_per_year_day
0                     2  ...                       1
1                     1  ...                       1
2                     1  ...                       1
3                     1  ...                       1
4                     2  ...                       1
...                 ...  ...                     ...
633429                1  ...                       1
633430                1  ...                       1
633431                1  ...                       1
633432                1  ...                       1
633433                1  ...                       1

[633434 rows x 43 columns]

In [73]:
from sklearn.utils.class_weight import compute_class_weight

X_train, y_train = train_dataset.drop('churn', axis=1), train_dataset['churn']

model = CatBoostClassifier(iterations=777,
                            learning_rate=0.01,
                            depth=2,
                            verbose=100,
                            random_seed=42,
                            eval_metric='F1',
                           
                            )

SyntaxError: keyword argument repeated: verbose (<ipython-input-73-37f2f0e47a75>, line 11)

In [74]:
model.fit(X_train, y_train)

0:	learn: 0.0000000	total: 166ms	remaining: 16.4s
1:	learn: 0.2293447	total: 321ms	remaining: 15.7s
2:	learn: 0.2293447	total: 476ms	remaining: 15.4s
3:	learn: 0.2293447	total: 632ms	remaining: 15.2s
4:	learn: 0.2293447	total: 791ms	remaining: 15s
5:	learn: 0.2972851	total: 947ms	remaining: 14.8s
6:	learn: 0.2807354	total: 1.1s	remaining: 14.6s
7:	learn: 0.2807354	total: 1.27s	remaining: 14.6s
8:	learn: 0.1248740	total: 1.42s	remaining: 14.4s
9:	learn: 0.2747298	total: 1.58s	remaining: 14.2s
10:	learn: 0.2256421	total: 1.73s	remaining: 14s
11:	learn: 0.2293447	total: 1.89s	remaining: 13.8s
12:	learn: 0.2293447	total: 2.04s	remaining: 13.6s
13:	learn: 0.2293447	total: 2.19s	remaining: 13.5s
14:	learn: 0.2293447	total: 2.34s	remaining: 13.3s
15:	learn: 0.2293447	total: 2.49s	remaining: 13.1s
16:	learn: 0.2293447	total: 2.65s	remaining: 12.9s
17:	learn: 0.2294499	total: 2.79s	remaining: 12.7s
18:	learn: 0.2295047	total: 2.95s	remaining: 12.6s
19:	learn: 0.2294499	total: 3.1s	remaining: 12.4s
20:	learn: 0.2294756	total: 3.28s	remaining: 12.3s
21:	learn: 0.2298231	total: 3.43s	remaining: 12.2s
22:	learn: 0.2297940	total: 3.59s	remaining: 12s
23:	learn: 0.2297843	total: 3.74s	remaining: 11.8s
24:	learn: 0.2297940	total: 3.89s	remaining: 11.7s
25:	learn: 0.2308862	total: 4.04s	remaining: 11.5s
26:	learn: 0.2285384	total: 4.19s	remaining: 11.3s
27:	learn: 0.2312925	total: 4.35s	remaining: 11.2s
28:	learn: 0.2300909	total: 4.5s	remaining: 11s
29:	learn: 0.2288921	total: 4.66s	remaining: 10.9s
30:	learn: 0.2267410	total: 4.81s	remaining: 10.7s
31:	learn: 0.2288921	total: 4.96s	remaining: 10.5s
32:	learn: 0.2299979	total: 5.11s	remaining: 10.4s
33:	learn: 0.2288921	total: 5.26s	remaining: 10.2s
34:	learn: 0.2282778	total: 5.41s	remaining: 10.1s
35:	learn: 0.2282778	total: 5.57s	remaining: 9.9s
36:	learn: 0.2267296	total: 5.72s	remaining: 9.73s
37:	learn: 0.2282778	total: 5.87s	remaining: 9.58s
38:	learn: 0.2268937	total: 6.02s	remaining: 9.41s
39:	learn: 0.2290351	total: 6.17s	remaining: 9.25s
40:	learn: 0.2302399	total: 6.31s	remaining: 9.09s
41:	learn: 0.2367275	total: 6.46s	remaining: 8.93s
42:	learn: 0.2302399	total: 6.62s	remaining: 8.77s
43:	learn: 0.2303168	total: 6.77s	remaining: 8.62s
44:	learn: 0.2290425	total: 6.92s	remaining: 8.46s
45:	learn: 0.2302399	total: 7.08s	remaining: 8.31s
46:	learn: 0.2290425	total: 7.24s	remaining: 8.16s
47:	learn: 0.2285216	total: 7.39s	remaining: 8.01s
48:	learn: 0.2285426	total: 7.54s	remaining: 7.85s
49:	learn: 0.2282280	total: 7.69s	remaining: 7.69s
50:	learn: 0.2285216	total: 7.84s	remaining: 7.54s
51:	learn: 0.2282280	total: 8s	remaining: 7.38s
52:	learn: 0.2284291	total: 8.15s	remaining: 7.23s
53:	learn: 0.2284291	total: 8.3s	remaining: 7.07s
54:	learn: 0.4484663	total: 8.49s	remaining: 6.95s
55:	learn: 0.4252526	total: 8.64s	remaining: 6.79s
56:	learn: 0.4252382	total: 8.79s	remaining: 6.63s
57:	learn: 0.4484823	total: 8.94s	remaining: 6.48s
58:	learn: 0.4252297	total: 9.1s	remaining: 6.32s
59:	learn: 0.4288053	total: 9.25s	remaining: 6.17s
60:	learn: 0.4266215	total: 9.4s	remaining: 6.01s
61:	learn: 0.4484749	total: 9.55s	remaining: 5.85s
62:	learn: 0.4333801	total: 9.7s	remaining: 5.7s
63:	learn: 0.4486174	total: 9.85s	remaining: 5.54s
64:	learn: 0.4253917	total: 10s	remaining: 5.39s
65:	learn: 0.4253144	total: 10.2s	remaining: 5.23s
66:	learn: 0.4154272	total: 10.3s	remaining: 5.08s
67:	learn: 0.4666270	total: 10.5s	remaining: 4.92s
68:	learn: 0.3936402	total: 10.6s	remaining: 4.77s
69:	learn: 0.3964341	total: 10.8s	remaining: 4.61s
70:	learn: 0.3920915	total: 10.9s	remaining: 4.46s
71:	learn: 0.2003293	total: 11.1s	remaining: 4.3s
72:	learn: 0.2003388	total: 11.2s	remaining: 4.14s
73:	learn: 0.1869126	total: 11.4s	remaining: 3.99s
74:	learn: 0.1869066	total: 11.5s	remaining: 3.83s
75:	learn: 0.1869126	total: 11.7s	remaining: 3.68s
76:	learn: 0.1871002	total: 11.8s	remaining: 3.52s
77:	learn: 0.1868875	total: 12s	remaining: 3.37s
78:	learn: 0.1853775	total: 12.1s	remaining: 3.22s
79:	learn: 0.1838249	total: 12.3s	remaining: 3.06s
80:	learn: 0.1836216	total: 12.4s	remaining: 2.91s
81:	learn: 0.1778308	total: 12.6s	remaining: 2.75s
82:	learn: 0.1778394	total: 12.7s	remaining: 2.6s
83:	learn: 0.1775749	total: 12.9s	remaining: 2.45s
84:	learn: 0.1756556	total: 13s	remaining: 2.29s
85:	learn: 0.1762550	total: 13.1s	remaining: 2.14s
86:	learn: 0.1785093	total: 13.3s	remaining: 1.99s
87:	learn: 0.1778595	total: 13.4s	remaining: 1.83s
88:	learn: 0.1760527	total: 13.6s	remaining: 1.68s
89:	learn: 0.1763699	total: 13.8s	remaining: 1.53s
90:	learn: 0.1763310	total: 13.9s	remaining: 1.38s
91:	learn: 0.1763310	total: 14.1s	remaining: 1.22s
92:	learn: 0.1761276	total: 14.2s	remaining: 1.07s
93:	learn: 0.1742434	total: 14.4s	remaining: 916ms
94:	learn: 0.1751018	total: 14.5s	remaining: 764ms
95:	learn: 0.0836333	total: 14.7s	remaining: 611ms
96:	learn: 0.1315776	total: 14.8s	remaining: 458ms
97:	learn: 0.1741901	total: 15s	remaining: 305ms
98:	learn: 0.0836333	total: 15.1s	remaining: 152ms
99:	learn: 0.0836333	total: 15.2s	remaining: 0us

In [75]:
X_test = test_dataset
y_pred = model.predict(X_test)

In [76]:
y_pred.shape

(633434,)

In [77]:
ans_final = test_df[['npo_account_id', 'quarter']]
ans_final['churn'] = y_pred
ans_final.head()

<ipython-input-77-81728028aef2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ans_final['churn'] = y_pred

                       npo_account_id quarter  churn
0  0xAA9E8DDF1310724995598EA2B42D7D87  2017Q2      0
1  0x3B9B09857D152F468A42C5DEE6D723F7  2021Q4      0
2  0xA7F12C768A4FB38311E835E4A7632E00  2015Q3      0
3  0xBFE4BDFBE0E037478C29BA4F38121B15  2015Q3      0
4  0x4B5C7804E403C842B4ECBF69BC3EDD7C  2011Q3      0

In [ ]:
ans_final.to_csv('1ans.csv')